
.car {
    display:grid;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .car {
        width: 75%;
        margin-left: 95px;
    }
}

.t1 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #053780;
}

h4 {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F7AC15;
}

.text-muted {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
}
