/*//////////////////// footer //////////////////////*/
footer {
    background-color: rgb(0, 0, 0, 0.38);
    width: 100%;
    position: page;
    transform: translateY(100%);
}

.foter {
    position: relative;
    left: 40%;
    display: flex;
    width: max-content;
}

    .foter .f1 {
        position: inherit;
        right: 20%;
        text-align: center;
    }
        .foter .fi .menu-item-001 {
        }
        .foter .fi .menu-item-002 {
        }
        .foter .fi .menu-item-003{
        }
        .foter .fi .menu-item-004{
        }
        .foter .fi .menu-item-005{
        }

    .foter .f2 {
        text-align: center;
    }

        .foter .f2 .menu-item-006 {
        }

        .foter .f2 .menu-item-007 {
        }

        .foter .f2 .menu-item-008 {
        }
        
        .foter .f2 .menu-item-009 {
        }
        
        .foter .f2 .menu-item-010 {
        }

    .foter .f3 {
        position: inherit;
        left: 20%;
        text-align: center;
    }
        .foter .fi .menu-item-011 {
        }

        .foter .fi .menu-item-012 {
        }

        .foter .fi .menu-item-013 {
        }
        
        .foter .fi .menu-item-014 {
        }
        
        .foter .fi .menu-item-015 {
        }

.foterlogo {
    position: sticky;
    height: 88px;
}
