.App-logo {
    height: 25Vmin;
}
.logo {
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}

a1 {
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}
ho1 {
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}
work1 {
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}
.colab1 {
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}

