.App {
    position: relative;
    top: -70px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
body {
    height:33%;
    background-color:transparent;
}

/*transition*/

.transition {
    position: relative;
    transform: translateY(-70%);
}

    .transition .top-image {
        width: 100%;
        z-index: 4;
    }

.transition-down {
    position: relative;
    top: 190px;
    transform: rotate(180deg);
    width: fit-content;
}

.transition-down {
    width: 100%;
    z-index: 4;
}

/*//////// Welcome section \\\\\\\\\\ */
.welcomesection {
    background-color: white;
}


/* duty cards*/
.welcomecontainer {
    width:100vmin;
    margin-top: -11%;
    margin-bottom: -25px;
    position: relative;
}

    .welcomecontainer .welcomeh3 {
        margin-top: 15%;
        transform: translateY(75px);
        font-size: 54px;
        font-family: 'Fredoka One'
    }
    .welcomecontainer .welccomeh2 {
        margin-top:10%

    }
    


.presentation {
    height: fit-content;
    z-index: 3;
}

    .presentation .presncon {

    }


        .presentation .presncon .rd {
            position: relative;
            background-size: 25%;
            width: 50vmin;
            height: auto;

        }

.goaltext {
    width:300px;
    background-color:blue;
}


        .presentation .presncon .goaltext .goal {
            position: absolute;
            margin-top: -10%;
            left: 25%;
            text-align: justify;
            font-size: 25px;
            font-family: 'Fredoka One', cursive;
        }


/*/////////////////////////////  card  //////////////////////////////*/

.Mission {
    position: relative;
    display: flex;
    transform: translateY(-30%);
    width: max-content;
    height: max-content;
}

    .Mission container {
        font-size: 30px;
        position: relative;
        padding: 10px;
        font-family: 'Merriweather', serif;
        height: max-content;
    }



    .Mission .container .flap {
        width: 100%;
        height: max-content;
    }

        .Mission .container .flap::before {
            position: absolute;
            height: 115%;
            width: 120%;
            left: 0%;
            margin-top: -6%;
            border-radius: 3%;
            background: url("../../imgs/health.png");
            background-repeat: no-repeat;
            transition: 1s;
        }

    .Mission .container:hover .flap::before {
        transform: translateX(-700px);
    }

    .Mission .container .flap2 {
        width: 100%;
        height: 100%;
    }

        .Mission .container .flap2::before {
            position: absolute;
            content: "";
            height: 115%;
            width: 120%;
            left: 0%;
            transform: translateY(-56%);
            border-radius: 3%;
            background: url("../../imgs/happy.png");
            background-repeat: no-repeat;
            transition: 1s;
        }

    .Mission .container:hover .flap2::before {
        transform: translateX(-700px);
    }

    .Mission .container .flap3 {
        width: 100%;
        height: 100%;
    }

        .Mission .container .flap3::before {
            position: absolute;
            content: "";
            height: 120%;
            width: 100%;
            left: 0%;
            transform: translateY(-57%);
            border-radius: 3%;
            background: url("../../imgs/Education.png");
            background-repeat: no-repeat;
            transition: 1.2s;
        }

    .Mission .container:hover .flap3::before {
        transform: translateX(-700px);
    }


.description {
    margin-top:50%;
    align-content:center;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}

    .description .discoverhealth:hover {
        transition: 1s;
        background-color: rgb(4,213,237);
    }
    .description .discoverhappines:hover {
        transition: 1s;
        background-color: rgb(255,255,0);
    }
    .description .discovereducation:hover {
        transition: 1s;
        background-color: rgb(50, 205, 50);
    }




/*//////////////////////////  welcome  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/







    .content txt {
    }

.content t1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}

.content h5 {
    text-align: center;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}


.recent-charity {
    position: relative;
    transform: translateY(20%);
    z-index: 0;
}


/*///////////////////// mobile ///////////////////////////*/

@media (max-width: 1000px) {
    .Mission {
        position: relative;
        display: grid;
        transform: translateY(-30%);
        width: max-content;
        height: max-content;
    }

        .Mission container {
            font-size: 30px;
            position: relative;
            padding: 10px;
            font-family: 'Merriweather', serif;
            height: max-content;
        }
}


/*////////////////////i frame for youtube video ///////////////////////////*/
iframe {
    width: 100%;
    height: 850px;
}

/* /// media  \\\ */


@media screen and (max-width:1315) and (max-heigth:980) {
}